p{
  font-size:20px;
}

ul h3{
  font-size: 30px;
}

ul li{
  font-size: 20px;

}

#profilephoto{

	float: left;
}

#basicinfo{
	float: left;
	margin-left: 20px;
}

.break{
	clear:both;
}

#avatar{
	width: 200px;
	height: 200px;

}

.coursesite{
	color: #C8C8C8;
	font-family: Candara, "Maiandra GD", Calibri, "Trebuchet MS", "Arial Narrow", Trebuchet, sans-serif;
}

body{
	margin-left: 200px;
	margin-right: 200px;

}

#email{
	width: 450px;
	height:20px;
	background-color: #C8C8C8;
	text-align:"center";
	padding-top: 3px;
	padding-left: 5px;
	font-family: Candara, "Maiandra GD", Calibri, "Trebuchet MS", "Arial Narrow", Trebuchet, sans-serif;

}

#englishname{
	color:#000000;
}

#chinesename{
	color:#000000;
}

.heads{
	font-family: "Open Sans",arial,sans-serif;
}
